# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
*.egg-info/

# Ignore everything in .vscode except settings.json
.vscode/*
!.vscode/settings.json


# MacOS
.DS_Store

# Env Files
.env
secrets/
config.py



# Jupyter
.ipynb_checkpoints/

# Data
data/raw/

# Raw data
data/raw/papers/

# Processed outputs
data/processed/
